flow_node-red.json
[
    {
        "id": "8eb1dffbb1a6e0e9",
        "type": "tab",
        "label": "Ceres IoT - IUE",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9e58624.7faaba",
        "type": "mqtt out",
        "z": "8eb1dffbb1a6e0e9",
        "name": "",
        "topic": "ceres/led",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 340,
        "y": 2200,
        "wires": []
    },
    {
        "id": "abf7079a.653be8",
        "type": "mqtt in",
        "z": "8eb1dffbb1a6e0e9",
        "name": "",
        "topic": "ceres/sensor/ambiente/temperatura",
        "qos": "2",
        "datatype": "auto",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 240,
        "y": 320,
        "wires": [
            [
                "82b690e055ebebf4"
            ]
        ]
    },
    {
        "id": "cc79021b.9a751",
        "type": "debug",
        "z": "8eb1dffbb1a6e0e9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 260,
        "wires": []
    },
    {
        "id": "4aecba01.78ce64",
        "type": "mqtt in",
        "z": "8eb1dffbb1a6e0e9",
        "name": "",
        "topic": "ceres/sensor/ambiente/humedad",
        "qos": "2",
        "datatype": "auto",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 230,
        "y": 120,
        "wires": [
            [
                "fb93c73f46771db1"
            ]
        ]
    },
    {
        "id": "319cf05b709fe48c",
        "type": "mqtt in",
        "z": "8eb1dffbb1a6e0e9",
        "name": "",
        "topic": "ceres/sensor/distancia",
        "qos": "2",
        "datatype": "auto",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 200,
        "y": 520,
        "wires": [
            [
                "aac63d66226fd3c7"
            ]
        ]
    },
    {
        "id": "794ea76a6752dd9b",
        "type": "debug",
        "z": "8eb1dffbb1a6e0e9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 460,
        "wires": []
    },
    {
        "id": "82b690e055ebebf4",
        "type": "function",
        "z": "8eb1dffbb1a6e0e9",
        "name": "Unidades",
        "func": "if(msg.topic == \"ceres/sensor/ambiente/temperatura\"){\n   msg.payload = msg.payload + \" °C\";\n   return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 320,
        "wires": [
            [
                "cc79021b.9a751",
                "1cb534b3009af0a7",
                "040878dc83252a5c"
            ]
        ]
    },
    {
        "id": "fb93c73f46771db1",
        "type": "function",
        "z": "8eb1dffbb1a6e0e9",
        "name": "Unidades",
        "func": "if(msg.topic == \"ceres/sensor/ambiente/humedad\"){\n   msg.payload = msg.payload + \" %\";\n   return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 120,
        "wires": [
            [
                "22efa7b7.544a28",
                "1aac795f17c8088e",
                "3a69b5dcec18c2ea"
            ]
        ]
    },
    {
        "id": "22efa7b7.544a28",
        "type": "debug",
        "z": "8eb1dffbb1a6e0e9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 60,
        "wires": []
    },
    {
        "id": "aac63d66226fd3c7",
        "type": "function",
        "z": "8eb1dffbb1a6e0e9",
        "name": "Unidades",
        "func": "if(msg.topic == \"ceres/sensor/distancia\"){\n   msg.payload = msg.payload + \" cm\";\n   return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 520,
        "wires": [
            [
                "794ea76a6752dd9b",
                "e5a9f31cf8128989",
                "ac4c3f32fbde8983"
            ]
        ]
    },
    {
        "id": "eb3bedd9f1c7e2e7",
        "type": "mqtt out",
        "z": "8eb1dffbb1a6e0e9",
        "name": "",
        "topic": "ceres/slider",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 350,
        "y": 2280,
        "wires": []
    },
    {
        "id": "f5312f710c2f61ed",
        "type": "comment",
        "z": "8eb1dffbb1a6e0e9",
        "name": "Sensor de humedad",
        "info": "Sensor: SHT31",
        "x": 190,
        "y": 60,
        "wires": []
    },
    {
        "id": "abf66631478fa886",
        "type": "comment",
        "z": "8eb1dffbb1a6e0e9",
        "name": "Sensor de temperatura",
        "info": "Sensor: SHT31",
        "x": 200,
        "y": 260,
        "wires": []
    },
    {
        "id": "e4ae20ca068368e7",
        "type": "comment",
        "z": "8eb1dffbb1a6e0e9",
        "name": "Sensor ultrasónico",
        "info": "Sensor: HC-SR04",
        "x": 190,
        "y": 460,
        "wires": []
    },
    {
        "id": "c2f279da253bdb07",
        "type": "mqtt in",
        "z": "8eb1dffbb1a6e0e9",
        "name": "",
        "topic": "ceres/sensor/planta/humedad-tierra",
        "qos": "2",
        "datatype": "auto",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 240,
        "y": 720,
        "wires": [
            [
                "1af8b3cd064bc9e3"
            ]
        ]
    },
    {
        "id": "7f0bdd3edc99210d",
        "type": "debug",
        "z": "8eb1dffbb1a6e0e9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 660,
        "wires": []
    },
    {
        "id": "1af8b3cd064bc9e3",
        "type": "function",
        "z": "8eb1dffbb1a6e0e9",
        "name": "Unidades",
        "func": "if(msg.topic == \"ceres/sensor/planta/humedad-tierra\"){\n   msg.payload = msg.payload + \" %\";\n   return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 720,
        "wires": [
            [
                "7f0bdd3edc99210d",
                "379e84b70f036f16",
                "45dcaa5cf445ad09"
            ]
        ]
    },
    {
        "id": "a4089be8e9dbaf63",
        "type": "comment",
        "z": "8eb1dffbb1a6e0e9",
        "name": "Sensor humedad tierra",
        "info": "Sensor: Soil Moisture Sensor (es chino, así que es genérico)",
        "x": 200,
        "y": 660,
        "wires": []
    },
    {
        "id": "83cf37cf.c76988",
        "type": "ui_switch",
        "z": "8eb1dffbb1a6e0e9",
        "name": "",
        "label": "LED",
        "tooltip": "",
        "group": "88350690c6a0494b",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "fa-toggle-on",
        "oncolor": "green",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "fa-toggle-off",
        "offcolor": "red",
        "animate": true,
        "className": "",
        "x": 150,
        "y": 2200,
        "wires": [
            [
                "9e58624.7faaba"
            ]
        ]
    },
    {
        "id": "63ec15807aaf07b6",
        "type": "ui_slider",
        "z": "8eb1dffbb1a6e0e9",
        "name": "PWM",
        "label": "Tanque principal",
        "tooltip": "",
        "group": "88350690c6a0494b",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "20",
        "step": 1,
        "className": "",
        "x": 150,
        "y": 2280,
        "wires": [
            [
                "eb3bedd9f1c7e2e7",
                "2754f8514bf94ecc"
            ]
        ]
    },
    {
        "id": "e5a9f31cf8128989",
        "type": "ui_text",
        "z": "8eb1dffbb1a6e0e9",
        "group": "3724d0e4e9a33984",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Distancia",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 740,
        "y": 520,
        "wires": []
    },
    {
        "id": "1cb534b3009af0a7",
        "type": "ui_text",
        "z": "8eb1dffbb1a6e0e9",
        "group": "61285987.c20328",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Texto temperatura",
        "label": "Temperatura:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 770,
        "y": 320,
        "wires": []
    },
    {
        "id": "1aac795f17c8088e",
        "type": "ui_text",
        "z": "8eb1dffbb1a6e0e9",
        "group": "61285987.c20328",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "Texto humedad",
        "label": "Humedad:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 760,
        "y": 120,
        "wires": []
    },
    {
        "id": "45dcaa5cf445ad09",
        "type": "ui_text",
        "z": "8eb1dffbb1a6e0e9",
        "group": "61285987.c20328",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Texto humedadPlanta",
        "label": "Humedad de la planta:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 780,
        "y": 720,
        "wires": []
    },
    {
        "id": "040878dc83252a5c",
        "type": "ui_chart",
        "z": "8eb1dffbb1a6e0e9",
        "name": "Gráfica de temperatura",
        "group": "61285987.c20328",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 790,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "ac4c3f32fbde8983",
        "type": "ui_chart",
        "z": "8eb1dffbb1a6e0e9",
        "name": "Gráfica distancia",
        "group": "3724d0e4e9a33984",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 770,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "3a69b5dcec18c2ea",
        "type": "ui_chart",
        "z": "8eb1dffbb1a6e0e9",
        "name": "Gráfica humedad",
        "group": "61285987.c20328",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 770,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "379e84b70f036f16",
        "type": "ui_chart",
        "z": "8eb1dffbb1a6e0e9",
        "name": "Gráfica humedad de la planta",
        "group": "61285987.c20328",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 810,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "2754f8514bf94ecc",
        "type": "ui_gauge",
        "z": "8eb1dffbb1a6e0e9",
        "name": "",
        "group": "88350690c6a0494b",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Tanque principal",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "20",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 360,
        "y": 2340,
        "wires": []
    },
    {
        "id": "13d1b9ba48f2efe1",
        "type": "mqtt in",
        "z": "8eb1dffbb1a6e0e9",
        "name": "",
        "topic": "ceres/tanque/principal/volumen-total",
        "qos": "2",
        "datatype": "auto",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 240,
        "y": 900,
        "wires": [
            [
                "bfca3b7983d3dfd0"
            ]
        ]
    },
    {
        "id": "8b6e73c3babff38c",
        "type": "debug",
        "z": "8eb1dffbb1a6e0e9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 840,
        "wires": []
    },
    {
        "id": "bfca3b7983d3dfd0",
        "type": "function",
        "z": "8eb1dffbb1a6e0e9",
        "name": "Unidades",
        "func": "if(msg.topic == \"ceres/tanque/principal/volumen-total\"){\n   msg.payload = msg.payload + \" L\";\n   return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 900,
        "wires": [
            [
                "8b6e73c3babff38c",
                "6106949384c0362f",
                "d697839c7c6ff65e"
            ]
        ]
    },
    {
        "id": "4bf3e65a197f69b2",
        "type": "comment",
        "z": "8eb1dffbb1a6e0e9",
        "name": "Tanque Principal",
        "info": "Sensor: HC-SR04",
        "x": 180,
        "y": 840,
        "wires": []
    },
    {
        "id": "6106949384c0362f",
        "type": "ui_text",
        "z": "8eb1dffbb1a6e0e9",
        "group": "bc49145b01d7ecb6",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Volumen total:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 760,
        "y": 900,
        "wires": []
    },
    {
        "id": "d697839c7c6ff65e",
        "type": "ui_gauge",
        "z": "8eb1dffbb1a6e0e9",
        "name": "Volumen total",
        "group": "bc49145b01d7ecb6",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Volumen total",
        "label": "L",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 760,
        "y": 960,
        "wires": []
    },
    {
        "id": "91c6595b97d2ffd1",
        "type": "mqtt in",
        "z": "8eb1dffbb1a6e0e9",
        "name": "",
        "topic": "ceres/tanque/principal/volumen-liquido",
        "qos": "2",
        "datatype": "auto",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 250,
        "y": 1100,
        "wires": [
            [
                "5a20864c251e2079"
            ]
        ]
    },
    {
        "id": "5ec170a4a1d85d09",
        "type": "debug",
        "z": "8eb1dffbb1a6e0e9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 1040,
        "wires": []
    },
    {
        "id": "5a20864c251e2079",
        "type": "function",
        "z": "8eb1dffbb1a6e0e9",
        "name": "Unidades",
        "func": "if(msg.topic == \"ceres/tanque/principal/volumen-liquido\"){\n   msg.payload = msg.payload + \" L\";\n   return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 1100,
        "wires": [
            [
                "5ec170a4a1d85d09",
                "19a232d78318287d",
                "9f9e11367f9e4a9f"
            ]
        ]
    },
    {
        "id": "19a232d78318287d",
        "type": "ui_text",
        "z": "8eb1dffbb1a6e0e9",
        "group": "bc49145b01d7ecb6",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Volumen actual:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 760,
        "y": 1100,
        "wires": []
    },
    {
        "id": "9f9e11367f9e4a9f",
        "type": "ui_gauge",
        "z": "8eb1dffbb1a6e0e9",
        "name": "Volumen actual",
        "group": "bc49145b01d7ecb6",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Volumen actual",
        "label": "L",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 760,
        "y": 1160,
        "wires": []
    },
    {
        "id": "90960eefe39e094a",
        "type": "mqtt in",
        "z": "8eb1dffbb1a6e0e9",
        "name": "",
        "topic": "ceres/tanque/principal/porcentaje-liquido",
        "qos": "2",
        "datatype": "auto",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 260,
        "y": 1280,
        "wires": [
            [
                "2710b7a5af9589a6"
            ]
        ]
    },
    {
        "id": "0f5dff8141a1283e",
        "type": "debug",
        "z": "8eb1dffbb1a6e0e9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 1220,
        "wires": []
    },
    {
        "id": "2710b7a5af9589a6",
        "type": "function",
        "z": "8eb1dffbb1a6e0e9",
        "name": "Unidades",
        "func": "if(msg.topic == \"ceres/tanque/principal/porcentaje-liquido\"){\n   msg.payload = msg.payload + \" %\";\n   return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 1280,
        "wires": [
            [
                "0f5dff8141a1283e",
                "2b01f1bf3a41641a",
                "7bb959b6ce3417dd"
            ]
        ]
    },
    {
        "id": "2b01f1bf3a41641a",
        "type": "ui_text",
        "z": "8eb1dffbb1a6e0e9",
        "group": "bc49145b01d7ecb6",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Porcentaje:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 750,
        "y": 1280,
        "wires": []
    },
    {
        "id": "7bb959b6ce3417dd",
        "type": "ui_gauge",
        "z": "8eb1dffbb1a6e0e9",
        "name": "Porcentaje",
        "group": "bc49145b01d7ecb6",
        "order": 7,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Porcentaje",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 750,
        "y": 1340,
        "wires": []
    },
    {
        "id": "08295b424cf8cf75",
        "type": "mqtt in",
        "z": "8eb1dffbb1a6e0e9",
        "name": "",
        "topic": "ceres/tanque/auxiliar/volumen-total",
        "qos": "2",
        "datatype": "auto",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 240,
        "y": 1600,
        "wires": [
            [
                "c4c33252c8ad10db"
            ]
        ]
    },
    {
        "id": "02441e1205c54d51",
        "type": "debug",
        "z": "8eb1dffbb1a6e0e9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 1540,
        "wires": []
    },
    {
        "id": "c4c33252c8ad10db",
        "type": "function",
        "z": "8eb1dffbb1a6e0e9",
        "name": "Unidades",
        "func": "if(msg.topic == \"ceres/tanque/auxiliar/volumen-total\"){\n   msg.payload = msg.payload + \" L\";\n   return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 1600,
        "wires": [
            [
                "02441e1205c54d51",
                "8f64442aa5e675d9",
                "c9ef516051a1d295"
            ]
        ]
    },
    {
        "id": "ebeb9ba4cece91b3",
        "type": "comment",
        "z": "8eb1dffbb1a6e0e9",
        "name": "Tanque Auxiliar",
        "info": "Sensor: HC-SR04",
        "x": 180,
        "y": 1540,
        "wires": []
    },
    {
        "id": "8f64442aa5e675d9",
        "type": "ui_text",
        "z": "8eb1dffbb1a6e0e9",
        "group": "8b54d6d62470dc5f",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Volumen total:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 760,
        "y": 1600,
        "wires": []
    },
    {
        "id": "c9ef516051a1d295",
        "type": "ui_gauge",
        "z": "8eb1dffbb1a6e0e9",
        "name": "Volumen total",
        "group": "8b54d6d62470dc5f",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Volumen total",
        "label": "L",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 760,
        "y": 1660,
        "wires": []
    },
    {
        "id": "c06c817663afd04c",
        "type": "mqtt in",
        "z": "8eb1dffbb1a6e0e9",
        "name": "",
        "topic": "ceres/tanque/auxiliar/volumen-liquido",
        "qos": "2",
        "datatype": "auto",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 250,
        "y": 1800,
        "wires": [
            [
                "a6558701c52f051f"
            ]
        ]
    },
    {
        "id": "fb9571fc65c584b3",
        "type": "debug",
        "z": "8eb1dffbb1a6e0e9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 1740,
        "wires": []
    },
    {
        "id": "a6558701c52f051f",
        "type": "function",
        "z": "8eb1dffbb1a6e0e9",
        "name": "Unidades",
        "func": "if(msg.topic == \"ceres/tanque/auxiliar/volumen-liquido\"){\n   msg.payload = msg.payload + \" L\";\n   return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 1800,
        "wires": [
            [
                "fb9571fc65c584b3",
                "a1f3db335255736f",
                "d0bbe31454965006"
            ]
        ]
    },
    {
        "id": "a1f3db335255736f",
        "type": "ui_text",
        "z": "8eb1dffbb1a6e0e9",
        "group": "8b54d6d62470dc5f",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Volumen actual:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 760,
        "y": 1800,
        "wires": []
    },
    {
        "id": "d0bbe31454965006",
        "type": "ui_gauge",
        "z": "8eb1dffbb1a6e0e9",
        "name": "Volumen actual",
        "group": "8b54d6d62470dc5f",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Volumen actual",
        "label": "L",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 760,
        "y": 1860,
        "wires": []
    },
    {
        "id": "b861a32c88e30c43",
        "type": "mqtt in",
        "z": "8eb1dffbb1a6e0e9",
        "name": "",
        "topic": "ceres/tanque/auxiliar/porcentaje-liquido",
        "qos": "2",
        "datatype": "auto",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 250,
        "y": 1980,
        "wires": [
            [
                "3673a9a38eeb9baf"
            ]
        ]
    },
    {
        "id": "d15e9176d47f3039",
        "type": "debug",
        "z": "8eb1dffbb1a6e0e9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 1920,
        "wires": []
    },
    {
        "id": "3673a9a38eeb9baf",
        "type": "function",
        "z": "8eb1dffbb1a6e0e9",
        "name": "Unidades",
        "func": "if(msg.topic == \"ceres/tanque/auxiliar/porcentaje-liquido\"){\n   msg.payload = msg.payload + \" %\";\n   return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 1980,
        "wires": [
            [
                "d15e9176d47f3039",
                "70516b4a547769ab",
                "756fd7c2b488b566"
            ]
        ]
    },
    {
        "id": "70516b4a547769ab",
        "type": "ui_text",
        "z": "8eb1dffbb1a6e0e9",
        "group": "8b54d6d62470dc5f",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Porcentaje:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 750,
        "y": 1980,
        "wires": []
    },
    {
        "id": "756fd7c2b488b566",
        "type": "ui_gauge",
        "z": "8eb1dffbb1a6e0e9",
        "name": "Porcentaje",
        "group": "8b54d6d62470dc5f",
        "order": 7,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Porcentaje",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 750,
        "y": 2040,
        "wires": []
    },
    {
        "id": "e3424d89bd020721",
        "type": "mqtt in",
        "z": "8eb1dffbb1a6e0e9",
        "name": "",
        "topic": "ceres/tanque/principal/estado",
        "qos": "2",
        "datatype": "auto",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 220,
        "y": 1400,
        "wires": [
            [
                "c7860fb7c14ed546",
                "e0103987ec651619"
            ]
        ]
    },
    {
        "id": "c7860fb7c14ed546",
        "type": "ui_text",
        "z": "8eb1dffbb1a6e0e9",
        "group": "bc49145b01d7ecb6",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Estado tanque principal",
        "label": "Estado:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 570,
        "y": 1420,
        "wires": []
    },
    {
        "id": "54cb6564c310674f",
        "type": "ui_text",
        "z": "8eb1dffbb1a6e0e9",
        "group": "8b54d6d62470dc5f",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Estado tanque auxiliar",
        "label": "Estado:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 580,
        "y": 2140,
        "wires": []
    },
    {
        "id": "ff20a175035fd07f",
        "type": "mqtt in",
        "z": "8eb1dffbb1a6e0e9",
        "name": "",
        "topic": "ceres/tanque/auxiliar/estado",
        "qos": "2",
        "datatype": "auto",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 220,
        "y": 2100,
        "wires": [
            [
                "54cb6564c310674f",
                "23bc8d4e272c0efd"
            ]
        ]
    },
    {
        "id": "da1f10afa654a68f",
        "type": "mqtt out",
        "z": "8eb1dffbb1a6e0e9",
        "name": "",
        "topic": "ceres/sliderr",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 350,
        "y": 2420,
        "wires": []
    },
    {
        "id": "4a9b73c5e9e0db6f",
        "type": "ui_slider",
        "z": "8eb1dffbb1a6e0e9",
        "name": "PWM2",
        "label": "Tanque auxiliar",
        "tooltip": "",
        "group": "88350690c6a0494b",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "20",
        "step": 1,
        "className": "",
        "x": 150,
        "y": 2420,
        "wires": [
            [
                "da1f10afa654a68f",
                "a35dcc96a03e9713"
            ]
        ]
    },
    {
        "id": "a35dcc96a03e9713",
        "type": "ui_gauge",
        "z": "8eb1dffbb1a6e0e9",
        "name": "",
        "group": "88350690c6a0494b",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Tanque auxiliar",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "20",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 360,
        "y": 2480,
        "wires": []
    },
    {
        "id": "e0103987ec651619",
        "type": "debug",
        "z": "8eb1dffbb1a6e0e9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 1360,
        "wires": []
    },
    {
        "id": "23bc8d4e272c0efd",
        "type": "debug",
        "z": "8eb1dffbb1a6e0e9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 2080,
        "wires": []
    },
    {
        "id": "10e78a89.5b4fd5",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "88350690c6a0494b",
        "type": "ui_group",
        "name": "Control",
        "tab": "e7c46d5e.a1283",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3724d0e4e9a33984",
        "type": "ui_group",
        "name": "Distancia",
        "tab": "e7c46d5e.a1283",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "61285987.c20328",
        "type": "ui_group",
        "name": "Estación de clima",
        "tab": "e7c46d5e.a1283",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bc49145b01d7ecb6",
        "type": "ui_group",
        "name": "Tanque principal",
        "tab": "e7c46d5e.a1283",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8b54d6d62470dc5f",
        "type": "ui_group",
        "name": "Tanque auxiliar",
        "tab": "e7c46d5e.a1283",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e7c46d5e.a1283",
        "type": "ui_tab",
        "name": "Ceres IoT (IUE)",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]